/* css styles */
/* Ana Başlıklar (Education, Work Experience vb.) */
h1 {
  font-size: 1.6em !important; 
  color: #2c3e50 !important;
  border-bottom: 1.5px solid #3498db !important;
  padding-bottom: 5px;
  margin-top: 25px;
}

/* Alt Başlıklar (Employments, Internships) */
h2 {
  font-size: 1.2em !important;
  color: #2980b9 !important;
  margin-top: 15px;
  border-left: 3px solid #3498db; 
  padding-left: 8px;
}

/* Liste maddeleri ve paragraflar */
li, p {
  font-size: 1.05em !important; 
  line-height: 1.5; 
  color: #444444; 
}

/* Vurgulu yazılar */
strong {
  font-weight: 600;
}


.btn-primary {
  background-color: #2980b9 !important;
  border-color: #2980b9 !important;
  padding: 10px 20px !important;
  font-weight: bold !important;
}